<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to big.wtf</h1>
    <p>
      This is a test mail
    </p>
    <p>
      You dont need to answer.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>